<html>
   <body>
      <H1>Restaurants</H1>
      <H2>User: <%= name %></H2>
      <H2>Showing 2 documents</H2>
      <br><hr>
      <a href='/create'>Create New Restaurant</a><hr>
      <p>Name</p><hr>
      <a href='/logout'>Logout</a>
   </body>

   
</html>
