<html>
    <body>
        <H2>Restaurant (<%= nrestaurant%>)</H2><hr>
        <p>Restaurant Name: </p>
        <ul>
            <% for (var b of restaurant) { %>
            <li><a href="/details?_id=<%= b._id %>"><%= b.name %></a></li>
            <% } %>
        </ul><hr>
        <p><a href="/page">Create New Restaurant</a></p>
        <p><a href="/logout">logout</a></p>
    </body>
</html>