<html>

<body>
	<p>Use the following IDs and Password:</p>
	<ol>
		<li>demo (no need password)</li>
		<li>student (no need password)</li>
	</ol>
	<hr>
	<form action="/login" method="POST">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
</body>

</html>
