<html>

<body>
	<p>Login</p>
	<p>Use the following IDs and Password:</p>
	<ol>
		<li>demo (password: demo)</li>
		<li>student (password: student)</li>
	</ol>
	<hr>
	<form action="/login" method="post">
		Name: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Login">
	</form>
</body>
</html>
