<html>

<body>
    <form action="/rate" method="POST" enctype="multipart/form-data">
        Grades(1-10): <input name="score"><br>
        <input type="hidden" name="_id" value=<%=objID %>>
        <input type="submit" value="rate">
    </form>

</body>

</html>